@charset "utf-8";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

/* ===== Actual Styles ===== */

/* ===== Horizontal Rule ===== */
.rule {
    margin: 10px 0;
    border: none;
    height: 1.5px;
    background-image: linear-gradient(left, #f0f0f0, #c9bbae, #f0f0f0);
}

/* ===== Select Box ===== */
.sel {
    position: relative;
    font-size: 1rem;
    display: inline-block;
    width: 173px;
    background: #3B3B3B;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 33px;
}

.sel * {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}

.sel::before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    left: 16px;
    top: 50%;
    transform: translate(0, -50%);
    background-image: url("../icons/world.svg");
    background-position: center center;
    background-repeat: no-repeat;
}

.sel::after {
    position: absolute;
    content: '';
    right: 8px;
    top: 50%;
    transform: translate(0, -50%);
    width: 15px;
    height: 14px;
    background-image: url("../icons/arrow.svg");
    background-position: center center;
    background-repeat: no-repeat;
}

.sel.active::after {
    transform: translate(0, -50%) rotateX(-180deg);
}

.sel__placeholder {
    display: block;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px;

    color: #FFFFFF;

    padding-top: 12px;
    padding-left: 48px;
    padding-bottom: 12px;
    text-align: left;
    pointer-events: none;
    user-select: none;
    visibility: visible;
}

.sel.active .sel__placeholder {
    visibility: hidden;
}

.sel__placeholder::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 12px;
    padding-left: 48px;
    padding-bottom: 12px;
    font-size: 13px;
    content: attr(data-placeholder);
    visibility: hidden;
}

.sel.active .sel__placeholder::before {
    visibility: visible;
}

.sel__box {
    position: absolute;
    top: calc(100%);
    display: none;
    list-style-type: none;
    text-align: left;
    font-size: 1em;
    background-color: #FFF;
    width: calc(100%);
    box-sizing: border-box;
}

.sel.active .sel__box {
    display: block;
    animation: fadeInUp 500ms;
}

.sel__box__options {
    display: list-item;
    color: #838e95;
    padding: 12px 12px;
    user-select: none;
}

.sel__box__options:hover {
    background-color: #ebedef;
}

.sel--black-panther {
    z-index: 3;
}

/* ----- Select Box Superman ----- */
.sel--superman {
    /*   display: none; */
    z-index: 2;
}

/* ===== Keyframes ===== */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}