---
title: Restaurant
---
{% extends "layouts/_layout.html" %}

{% block content %}
<section class="b-detail-header" role="banner">
  <div class="container b-tab-box-nav-container">
    <div class="row">
      <div class="col-xs-12 col-md-7 col-lg-5 b-detail-header-info">
        <h1 class="b-detail-header-title">
          Трактир «Пушкин»
        </h1>
        <div class="b-meta">
          <span class="b-price">100</span>
          <span>Европейская</span>
        </div>
        <div class="b-extra-time">
          <time>25 - 30 Min</time>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hidden-sm b-tab-box-nav">
  <div class="container">
    <div class="row">
      <nav class="b-tab-box-nav__list">
        <a class="active" href="#tab1">Закуски</a>
        <a href="#tab2">Салаты</a>
        <a href="#tab3">Супы</a>
        <a href="#tab4">Горячие блюда</a>
        <a href="#tab5">Гарниры</a>
        <a href="#tab6">Десерты</a>
      </nav>
    </div>
  </div>
</section>
<main id="main" role="main">
  <div class="container">
    <h2 class="dishes-title">Закуски</h2>
    <div class="row b-items-dishes-list">
      <div class="col-xs-12 col-lg-6">
        <div class="b-item-dishes-list">
          <a class="b-item-dishes-list__detail-link" href="#main"></a>
          <div class="b-item-dishes-list__info">
            <div>
              <h3 class="b-item-dishes-list__title">Сельдь на бородинском хлебе</h3>
              <span class="b-item-dishes-list__subtitle">С яйцом и огурцом</span>
            </div>
            <span class="b-item-dishes-list__price b-price">100</span>
          </div>
          <div class="b-item-dishes-list__preview"
               style="background-image: url('images/dishes/1.png');">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="b-item-dishes-list">
          <a class="b-item-dishes-list__detail-link" href="#main"></a>
          <div class="b-item-dishes-list__info">
            <div>
              <h3 class="b-item-dishes-list__title">Сельдь на бородинском хлебе</h3>
              <span class="b-item-dishes-list__subtitle">С яйцом и огурцом</span>
            </div>
            <span class="b-item-dishes-list__price b-price">100</span>
          </div>
          <div class="b-item-dishes-list__preview"
               style="background-image: url('images/dishes/1.png');">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="b-item-dishes-list">
          <a class="b-item-dishes-list__detail-link" href="#main"></a>
          <div class="b-item-dishes-list__info">
            <div>
              <h3 class="b-item-dishes-list__title">Сельдь на бородинском хлебе</h3>
              <span class="b-item-dishes-list__subtitle">С яйцом и огурцом</span>
            </div>
            <span class="b-item-dishes-list__price b-price">100</span>
          </div>
          <div class="b-item-dishes-list__preview"
               style="background-image: url('images/dishes/1.png');">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="b-item-dishes-list">
          <a class="b-item-dishes-list__detail-link" href="#main"></a>
          <div class="b-item-dishes-list__info">
            <div>
              <h3 class="b-item-dishes-list__title">Сельдь на бородинском хлебе</h3>
              <span class="b-item-dishes-list__subtitle">С яйцом и огурцом</span>
            </div>
            <span class="b-item-dishes-list__price b-price">100</span>
          </div>
          <div class="b-item-dishes-list__preview"
               style="background-image: url('images/dishes/1.png');">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="b-item-dishes-list">
          <a class="b-item-dishes-list__detail-link" href="#main"></a>
          <div class="b-item-dishes-list__info">
            <div>
              <h3 class="b-item-dishes-list__title">Сельдь на бородинском хлебе</h3>
              <span class="b-item-dishes-list__subtitle">С яйцом и огурцом</span>
            </div>
            <span class="b-item-dishes-list__price b-price">100</span>
          </div>
          <div class="b-item-dishes-list__preview"
               style="background-image: url('images/dishes/1.png');">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="b-item-dishes-list">
          <a class="b-item-dishes-list__detail-link" href="#main"></a>
          <div class="b-item-dishes-list__info">
            <div>
              <h3 class="b-item-dishes-list__title">Сельдь на бородинском хлебе</h3>
              <span class="b-item-dishes-list__subtitle">С яйцом и огурцом</span>
            </div>
            <span class="b-item-dishes-list__price b-price">100</span>
          </div>
          <div class="b-item-dishes-list__preview"
               style="background-image: url('images/dishes/1.png');">
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
