---
title: Stores
---
{% extends "layouts/_layout.html" %}

{% block content %}

<main>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="b-search">
          <form  class="b-search-restaurant" action="/search.html">
            <input name="q" type="text" placeholder="Search for restaurant or cuisine">
          </form>
        </div>
      </div>
    </div>
    <hr class="separator-8-24 separator--black"/>
    <div class="visible-sm row">
      <form class="b-location" action="">
        <div class="col-xs-3">
          <label class="b-location__label b-location__when">When</label>
          <input class="b-time" name="when" type="text" value="ASAP">
        </div>
        <div class="col-xs-9">
          <label class="b-location__label b-location__to">to</label>
          <span class="b-location-search-input">
              <input type="text" name="location" placeholder="ul. Bolshaya Dmitrov">
          </span>
        </div>
      </form>
    </div>
    <div class="b-restaurants">
      <h1>Moscow Restaurants</h1>
      <div class="row b-items-list">
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="b-item-list">
            <div class="b-item-list__preview"
                 style="background-image: url('images/restaurants/1.png')">
            </div>
            <div class="b-item-list__description">
              <h2 class="b-item-list__title">Макдоналдс — Газетны</h2>
              <div class="b-item-list__meta">
                                <span class="b-price">
                                    100
                                </span>
                <span>Бургеры</span>
                <span>Суши</span>
                <span>Азия</span>
              </div>
              <div class="b-item-list__extra">
                <time>25 - 30 Min</time>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="b-item-list">
            <div class="b-item-list__preview"
                 style="background-image: url('images/restaurants/2.png')">
            </div>
            <div class="b-item-list__description">
              <h2 class="b-item-list__title">Макдоналдс — Газетны</h2>
              <div class="b-item-list__meta">
                                <span class="b-price">
                                    100
                                </span>
                <span>Бургеры</span>
                <span>Суши</span>
                <span>Азия</span>
              </div>
              <div class="b-item-list__extra">
                <time>25 - 30 Min</time>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="b-item-list">
            <div class="b-item-list__preview"
                 style="background-image: url('images/restaurants/3.png')">
            </div>
            <div class="b-item-list__description">
              <h2 class="b-item-list__title">Макдоналдс — Газетны</h2>
              <div class="b-item-list__meta">
                                <span class="b-price">
                                    100
                                </span>
                <span>Бургеры</span>
                <span>Суши</span>
                <span>Азия</span>
              </div>
              <div class="b-item-list__extra">
                <time>25 - 30 Min</time>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="b-item-list">
            <div class="b-item-list__preview"
                 style="background-image: url('images/restaurants/4.png')">
            </div>
            <div class="b-item-list__description">
              <h2 class="b-item-list__title">Макдоналдс — Газетны</h2>
              <div class="b-item-list__meta">
                                <span class="b-price">
                                    100
                                </span>
                <span>Бургеры</span>
                <span>Суши</span>
                <span>Азия</span>
              </div>
              <div class="b-item-list__extra">
                <time>25 - 30 Min</time>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="b-item-list">
            <div class="b-item-list__preview"
                 style="background-image: url('images/restaurants/5.png')">
            </div>
            <div class="b-item-list__description">
              <h2 class="b-item-list__title">Макдоналдс — Газетны</h2>
              <div class="b-item-list__meta">
                                <span class="b-price">
                                    100
                                </span>
                <span>Бургеры</span>
                <span>Суши</span>
                <span>Азия</span>
              </div>
              <div class="b-item-list__extra">
                <time>25 - 30 Min</time>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="b-item-list">
            <div class="b-item-list__preview"
                 style="background-image: url('images/restaurants/6.png')">
            </div>
            <div class="b-item-list__description">
              <h2 class="b-item-list__title">Макдоналдс — Газетны</h2>
              <div class="b-item-list__meta">
                                <span class="b-price">
                                    100
                                </span>
                <span>Бургеры</span>
                <span>Суши</span>
                <span>Азия</span>
              </div>
              <div class="b-item-list__extra">
                <time>25 - 30 Min</time>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="b-item-list">
            <div class="b-item-list__preview"
                 style="background-image: url('images/restaurants/7.png')">
            </div>
            <div class="b-item-list__description">
              <h2 class="b-item-list__title">Макдоналдс — Газетны</h2>
              <div class="b-item-list__meta">
                                <span class="b-price">
                                    100
                                </span>
                <span>Бургеры</span>
                <span>Суши</span>
                <span>Азия</span>
              </div>
              <div class="b-item-list__extra">
                <time>25 - 30 Min</time>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="b-item-list">
            <div class="b-item-list__preview"
                 style="background-image: url('images/restaurants/8.png')">
            </div>
            <div class="b-item-list__description">
              <h2 class="b-item-list__title">Макдоналдс — Газетны</h2>
              <div class="b-item-list__meta">
                                <span class="b-price">
                                    100
                                </span>
                <span>Бургеры</span>
                <span>Суши</span>
                <span>Азия</span>
              </div>
              <div class="b-item-list__extra">
                <time>25 - 30 Min</time>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="b-item-list">
            <div class="b-item-list__preview"
                 style="background-image: url('images/restaurants/9.png')">
            </div>
            <div class="b-item-list__description">
              <h2 class="b-item-list__title">Макдоналдс — Газетны</h2>
              <div class="b-item-list__meta">
                                <span class="b-price">
                                    100
                                </span>
                <span>Бургеры</span>
                <span>Суши</span>
                <span>Азия</span>
              </div>
              <div class="b-item-list__extra">
                <time>25 - 30 Min</time>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
