{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#fff">
  <meta name="format-detection" content="telephone=no">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500" rel="stylesheet">
  <link rel="stylesheet" media="all" href="css/app.css">
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/form.css">
  <link rel="stylesheet" href="../../css/icons.css">
  <link rel="stylesheet" href="../../css/styles.css">
  <link rel="stylesheet" href="../../css/detail.css">
  {# {% include "../partials/_media-tags.html" %} #}
</head>
<body>

<!-- BEGIN header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-2 col-lg-3 b-logo-container">
        <a class="b-black-logo" href="#main">
          <i class="icons icons--black-logo"></i>
        </a>
      </div>
      <div class="hidden-sm col-md-5">
        <form class="b-location" action="/search">
          <input class="b-time" name="when" type="text" value="ASAP">
          <label class="b-location__to" for="location">to</label>
          <span class="b-location-search-input">
            <input type="text" id="location" name="location" placeholder="ul. Bolshaya Dmitrov">
          </span>
        </form>
      </div>
      <div class="col-xs-6 col-md-5 col-lg-4 b-header-btn">
        <button class="btn">Sign in</button>
        <button class="btn btn--black btn-register">Register</button>
        <button class="btn c-basket hidden-sm">
          <i class="icons icons--basket"></i>
        </button>
      </div>
    </div>
  </div>
</header>
<!-- END header -->

<!-- BEGIN content -->
<div class="out">
  {% block content %}{% endblock %}
</div>
<!-- END content -->

<!-- BEGIN footer -->
<footer role="contentinfo">
  <div class="container">
    <div class="b-white-logo b-white-logo--bottom">
      <a href="/">
        <i class="icons icons--white-logo"></i>
      </a>
    </div>
    <hr class="separator-32"/>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <div class="b-social">
          <div class="c-select">
            <select name="select-lang" id="select-lang">
              <option value="eng">English</option>
              <option value="ru">Russian</option>
              <option value="de">German</option>
            </select>
          </div>
          <div class="c-tag">
            <a class="c-tag__link" href="/">UberEats</a>
          </div>
          <div class="b-social-list">
            <div class="b-social-list-item">
              <a class="svg-link" href="https://www.facebook.com"
                 target="_blank">
                <i class="icons icons--social-facebook"></i>
              </a>
            </div>
            <div class="b-social-list-item">
              <a class="svg-link" href="https://twitter.com" target="_blank">
                <i class="icons icons--social-twitter"></i>
              </a>
            </div>
            <div class="b-social-list-item">
              <a class="svg-link" href="https://www.instagram.com/" target="_blank">
                <i class="icons icons--social-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1 empty"></div>
      <hr class="visible-sm separator-20 separator--hidden"/>
      <div class="col-xs-12 col-md-4">
        <nav class="b-menu" role="navigation">
          <a href="">About UberEats</a>
          <a href="">Become a Delivery Partner</a>
          <a href="">Become a Restaurant Partner</a>
        </nav>
      </div>
      <hr class="visible-sm separator-7 separator--hidden"/>
      <div class="col-xs-12 col-md-4">
        <nav class="b-menu" role="navigation">
          <a href="">See all cities</a>
          <a href="">Pricing</a>
          <a href="">Help</a>
          <a href="">FAQs</a>
        </nav>
      </div>
    </div>
    <hr class="separator-40"/>
    <div class="b-app-stores">
      <a class="b-app-store-item" href="https://www.apple.com/ru/ios/app-store/"
         target="_blank">
        <img src="images/app-store.png" alt="App Store">
      </a>
      <a class="b-app-store-item" href="https://play.google.com/store" target="_blank">
        <img src="images/google-store.png" alt="Google Play">
      </a>
    </div>
    <hr class="separator-40"/>
    <div class="b-сopyright">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <span>© 2017 Uber Technologies Inc.</span>
        </div>
        <hr class="visible-sm separator-12 separator--hidden"/>
        <div class="col-xs-12 col-md-4">
          <a href="">Privacy</a>
        </div>
        <hr class="visible-sm separator-12 separator--hidden"/>
        <div class="col-xs-12 col-md-4">
          <a href="">Terms</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- END footer -->

<!-- BEGIN scripts -->
<script type="text/javascript" src="js/app.js"></script>
<!-- END scripts -->

</body>
</html>
