.c-select select {
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 48px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.c-select {
  position: relative;
  display: inline-block;
  width: 173px;
  height: 40px;
  margin-bottom: 33px;
  cursor: pointer;
  border-radius: 2px;
  background: #3b3b3b;
}

@media (min-width: 768px) {
  .c-select {
    width: 176px;
  }
}

@media (min-width: 991px) {
  .c-select {
    width: 227px;
  }
}

.c-select::before {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 16px;
  width: 16px;
  height: 16px;
  content: '';
  transform: translate(0, -50%);
  background-image: url('../icons/world.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.c-select::after {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 8px;
  width: 15px;
  height: 14px;
  content: '';
  transform: translate(0, -50%);
  background-image: url('../icons/arrow.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.c-select.active::after {
  transform: translate(0, -50%) rotateX(-180deg);
}

.btn {
  background-color: transparent;
  line-height: 24px;
  font-size: 13px;
  cursor: pointer;
  margin-right: 12px;
  width: 72px;
  max-width: 80px;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 768px) {
  .btn {
    width: 80px;
    margin-right: 16px;
  }
}

.btn--black {
  background: #262626;
  color: #FFFFFF;
}

.c-basket {
  width: auto;
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-indent: 0;
  margin-left: 27px;
  margin-right: 11px;
}
