@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

a, a:link {
  text-decoration: none;
  color: white;
}

a.svg-link {
  position: relative;
  display: inline-block;
}

a.svg-link:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

input, button {
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  padding: 8px 12px;
}

input {
  line-height: 24px;
  font-size: 16px;
}

.container {
  width: 336px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
}

@media (min-width: 320px) {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 576px) {
  .container {
    width: 592px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .container {
    width: 784px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 991px) {
  .container {
    width: 1007px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1216px;
    margin-left: auto;
    margin-right: auto;
  }
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding-left: 8px;
  padding-right: 8px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
.col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  padding-left: 8px;
  padding-right: 8px;
}

.col-xs-1 { flex-basis: calc((100% / 12) * 1); }

.col-xs-2 { flex-basis: calc((100% / 12) * 2); }

.col-xs-3 { flex-basis: calc((100% / 12) * 3); }

.col-xs-4 { flex-basis: calc((100% / 12) * 4); }

.col-xs-5 { flex-basis: calc((100% / 12) * 5); }

.col-xs-6 { flex-basis: calc((100% / 12) * 6); }

.col-xs-7 { flex-basis: calc((100% / 12) * 7); }

.col-xs-8 { flex-basis: calc((100% / 12) * 8); }

.col-xs-9 { flex-basis: calc((100% / 12) * 9); }

.col-xs-10 { flex-basis: calc((100% / 12) * 10); }

.col-xs-11 { flex-basis: calc((100% / 12) * 11); }

.col-xs-12 { flex-basis: calc((100% / 12) * 12); }

@media (min-width: 576px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
  .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .col-sm-1 { flex-basis: calc((100% / 12) * 1); }

  .col-sm-2 { flex-basis: calc((100% / 12) * 2); }

  .col-sm-3 { flex-basis: calc((100% / 12) * 3); }

  .col-sm-4 { flex-basis: calc((100% / 12) * 4); }

  .col-sm-5 { flex-basis: calc((100% / 12) * 5); }

  .col-sm-6 { flex-basis: calc((100% / 12) * 6); }

  .col-sm-7 { flex-basis: calc((100% / 12) * 7); }

  .col-sm-8 { flex-basis: calc((100% / 12) * 8); }

  .col-sm-9 { flex-basis: calc((100% / 12) * 9); }

  .col-sm-10 { flex-basis: calc((100% / 12) * 10); }

  .col-sm-11 { flex-basis: calc((100% / 12) * 11); }

  .col-sm-12 { flex-basis: calc((100% / 12) * 12); }
}

@media (min-width: 768px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
  .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .col-md-1 { flex-basis: calc((100% / 12) * 1); }

  .col-md-2 { flex-basis: calc((100% / 12) * 2); }

  .col-md-3 { flex-basis: calc((100% / 12) * 3); }

  .col-md-4 { flex-basis: calc((100% / 12) * 4); }

  .col-md-5 { flex-basis: calc((100% / 12) * 5); }

  .col-md-6 { flex-basis: calc((100% / 12) * 6); }

  .col-md-7 { flex-basis: calc((100% / 12) * 7); }

  .col-md-8 { flex-basis: calc((100% / 12) * 8); }

  .col-md-9 { flex-basis: calc((100% / 12) * 9); }

  .col-md-10 { flex-basis: calc((100% / 12) * 10); }

  .col-md-11 { flex-basis: calc((100% / 12) * 11); }

  .col-md-12 { flex-basis: calc((100% / 12) * 12); }
}

@media (min-width: 991px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
  .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .col-lg-1 { flex-basis: calc((100% / 12) * 1); }

  .col-lg-2 { flex-basis: calc((100% / 12) * 2); }

  .col-lg-3 { flex-basis: calc((100% / 12) * 3); }

  .col-lg-4 { flex-basis: calc((100% / 12) * 4); }

  .col-lg-5 { flex-basis: calc((100% / 12) * 5); }

  .col-lg-6 { flex-basis: calc((100% / 12) * 6); }

  .col-lg-7 { flex-basis: calc((100% / 12) * 7); }

  .col-lg-8 { flex-basis: calc((100% / 12) * 8); }

  .col-lg-9 { flex-basis: calc((100% / 12) * 9); }

  .col-lg-10 { flex-basis: calc((100% / 12) * 10); }

  .col-lg-11 { flex-basis: calc((100% / 12) * 11); }

  .col-lg-12 { flex-basis: calc((100% / 12) * 12); }
}

@media (min-width: 1200px) {
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6,
  .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .col-xl-1 { flex-basis: calc((100% / 12) * 1); }

  .col-xl-2 { flex-basis: calc((100% / 12) * 2); }

  .col-xl-3 { flex-basis: calc((100% / 12) * 3); }

  .col-xl-4 { flex-basis: calc((100% / 12) * 4); }

  .col-xl-5 { flex-basis: calc((100% / 12) * 5); }

  .col-xl-6 { flex-basis: calc((100% / 12) * 6); }

  .col-xl-7 { flex-basis: calc((100% / 12) * 7); }

  .col-xl-8 { flex-basis: calc((100% / 12) * 8); }

  .col-xl-9 { flex-basis: calc((100% / 12) * 9); }

  .col-xl-10 { flex-basis: calc((100% / 12) * 10); }

  .col-xl-11 { flex-basis: calc((100% / 12) * 11); }

  .col-xl-12 { flex-basis: calc((100% / 12) * 12); }
}

@media (max-width: 768px) {
  .hidden-sm {
    display: none !important;
    visibility: hidden;
  }

  .visible-sm {
    display: inherit;
    visibility: visible;
  }
}

@media (min-width: 768px) {
  .hidden-sm {
    display: inherit;
    visibility: visible;
  }

  .visible-sm {
    display: none !important;
    visibility: hidden;
  }
}

/*.col-1 { flex-basis: calc((100% / 12) * 1); }*/

/*.col-2 { flex-basis: calc((100% / 12) * 2); }*/

/*.col-3 { flex-basis: calc((100% / 12) * 3); }*/

/*.col-4 { flex-basis: calc((100% / 12) * 4); }*/

/*.col-5 { flex-basis: calc((100% / 12) * 5); }*/

/*.col-6 { flex-basis: calc((100% / 12) * 6); }*/

/*.col-7 { flex-basis: calc((100% / 12) * 7); }*/

/*.col-8 { flex-basis: calc((100% / 12) * 8); }*/

/*.col-9 { flex-basis: calc((100% / 12) * 9); }*/

/*.col-10 { flex-basis: calc((100% / 12) * 10); }*/

/*.col-11 { flex-basis: calc((100% / 12) * 11); }*/

/*.col-12 { flex-basis: calc((100% / 12) * 12); }*/

header {
  padding: 16px 0;
  height: 72px;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

main {
  background-color: #F2F2F2;
  min-height: calc(100vh - 552px - 72px);
  padding-top: 32px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 48px;
}

@media (min-width: 768px) {
  main {
    padding-bottom: 80px;
  }
}

footer {
  background-color: #262626;
  padding-top: 56px;
  padding-bottom: 40px;
}

hr {
  height: 0;
  width: 100%;
  mix-blend-mode: normal;
  opacity: 0.4;
  border: 0;
  border-bottom: 1px solid #FFFFFF;
}

.separator--hidden {
  visibility: hidden;
}

.separator--black {
  border-bottom: 1px solid #757575;
  opacity: 0.3;
}

.separator-8-24 {
  margin-top: 8px;
  margin-bottom: 24px;
}

.separator-7 {
  margin-top: 7px;
  margin-bottom: 7px;
}

.separator-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.separator-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.separator-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.separator-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.separator-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

h1, h2, h3 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #1D1D1D;
}

h1 {
  margin-top: 40px;
  margin-bottom: 16px;
  line-height: 34px;
  font-size: 22px;
}

h2 {
  margin-top: 26px;
  margin-bottom: 32px;
  line-height: 34px;
  font-size: 22px;
}

@media (min-width: 768px) {
  h1 {
    margin-top: 56px;
  }
}

.b-header-btn {
  display: flex;
  justify-content: flex-end;
}

.btn-register{
  margin-right: 0;
}

/**
 header
 */
.b-logo-container {
  display: flex;
  align-items: center;
}

.b-black-logo {
  width: 107px;
  height: 11px;
  display: block;
}

.b-time {
  text-align: center;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #1D1D1D;
}

@media (min-width: 768px) {
  .b-time {
    width: 66px;
  }
}

.b-location {
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 16px;
  color: #626262;
}

.b-location__to {
  padding-left: 8px;
  padding-right: 8px;
}

.b-location__label {
  display: block;
  margin-bottom: 8px;
  font-size: 11px;
}

.b-location-search-input {
  position: relative;
  width: 100%;
}

.b-location-search-input input {
  padding-left: 36px;
  width: 100%;
}

.b-location-search-input::before {
  content: '';
  position: absolute;
  width: 13px;
  height: 15px;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
  background-image: url("../icons/location.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.b-search-restaurant {
  position: relative;
}

.b-search-restaurant input {
  display: block;
  width: 100%;
  padding-left: 30px;
  background-color: transparent;
  border: 0;
  line-height: 24px;
  font-size: 16px;
}

.b-search-restaurant::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 21.9px;
  top: 50%;
  left: 1px;
  transform: translate(0, -50%);
  background-image: url("../icons/search.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.b-search-restaurant input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(98, 98, 98, 0.5);
}

.b-search-restaurant input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(98, 98, 98, 0.5);
}

.b-search-restaurant input:-ms-input-placeholder { /* IE 10+ */
  color: rgba(98, 98, 98, 0.5);
}

.b-search-restaurant input:-moz-placeholder { /* Firefox 18- */
  color: rgba(98, 98, 98, 0.5);
}

/**
 items list
 */

.b-items-list {
  margin-bottom: -16px;
}

.b-item-list {
  position: relative;
  height: 366px;
  background: transparent;
  margin-bottom: 16px;
}

.b-item-list:hover {
  cursor: pointer;
  background: rgba(117, 117, 117, 0.04);
}

.b-item-list__detail-link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.b-item-list__preview {
  height: 256px;
  background-position: center center;
  background-size: cover;
  background-color: rgba(117, 117, 117, 0.08);
}

.b-item-list__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 16px;
  color: #1D1D1D;
  margin-top: 16px;
  margin-bottom: 4px;
}

.b-item-list__meta {
  margin-bottom: 4px;
}

.b-item-list__meta > * {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  font-size: 14px;
  color: #626262;
}

.b-item-list__meta > *::after {
  content: ' • ';
}

.b-item-list__meta > *:last-child::after {
  content: '';
}

.b-price::after {
  content: '₽';
}

.b-item-list__extra {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  font-size: 13px;
  color: #1D1D1D;
}

/**
footer
 */

.c-tag {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 17px;
}

.c-tag__link::before {
  content: '#';
  color: #49A144;
  padding-right: 2px;
}

.b-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
}

.b-social-list-item {
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.b-social-list-item a {
  display: block;
}

.b-menu {
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-bottom: 8px;
}

.b-menu a {
  display: block;
  margin-bottom: 23px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}

.b-menu a:last-child {
  margin-bottom: 0;
}

.b-app-stores {
  text-align: center;
}

.b-app-store-item {
  display: inline-block;
  font-size: 0;
  margin-right: 42px;
}

.b-app-store-item:last-child {
  margin-right: 0;
}

.b-сopyright, .b-сopyright a {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 11px;
  color: #FFFFFF;
}
