.icon-arrow {
  width: 1.75em;
  height: 1em;
  fill: #FFF;
}
.icon-basket {
  width: 0.83em;
  height: 1em;
  fill: #262626;
}
.icon-black-logo {
  width: 8.57em;
  height: 1em;
  fill: #57AD56;
}
.icon-location {
  width: 0.88em;
  height: 1em;
  fill: #262626;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #262626;
}
.icon-white-logo {
  width: 9.14em;
  height: 1em;
  fill: #FFF;
}
.icon-world {
  width: 0.5em;
  height: 1em;
  fill: #FFF;
}
